# Data Normalization

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

The review data had too many values  and repetitive statements pruned it based on length and then did a random-sampling using pandas. \

*   This will reduce the Bias in  the data 
*   Increase accuracy of the model

In [ ]:
# Data.tsv is stored locally in the
# same directory as of this python file
df1 = pd.read_csv('train.tsv',sep = '\t')
df1.shape

(156060, 4)

Dropping unnecessary columns

In [ ]:
df1=df1.drop(['PhraseId','SentenceId'], axis=1)

In [ ]:
df1.iloc[1]

Phrase       A series of escapades demonstrating the adage ...
Sentiment                                                    2
Name: 1, dtype: object

In [ ]:
df1.rename(columns = {'Phrase':'text'}, inplace = True)
# Quick Two Line Codes
ctr_3=0
i=1
text2=[]
for s in df1['text']:
    # print("text: ",s)
    countOfWords = len(s.split())
    
    if ((countOfWords>=3) and (countOfWords<=12)):
        # print(" here :", countOfWords," text: ", s )
        # df1_cpy=df1.drop([s],inplace = True)
        text2.append(s)
    i=i+1

In [ ]:
print(len(text2))

86131

In [ ]:
df= pd.DataFrame(text2)
df.columns=['text']
review=df.sample(17000)

In [ ]:
# adding column with constant value
review['intent_ovr'] = pd.Series(["review" for x in range(len(text))])
# saving the dataframe
review

                                                    text intent_ovr
2822                          Solondz 's social critique     review
19509                      to all of this unpleasantness     review
63517                                       can truly be     review
26321                             it 's hardly watchable     review
20047                    a tasteful , intelligent manner     review
...                                                  ...        ...
61252                            to sit through it again     review
49171                               familiar to traverse     review
34642                  seem pretty unbelievable at times     review
48263  vies with pretension -- and sometimes plain wa...     review
69372                            be inside looking out ,     review

[17000 rows x 2 columns]

In [ ]:
df.to_csv('review_shortened.csv')

In [ ]:
df= pd.DataFrame(text)
df.columns=['text']
df

                                                     text
0       A series of escapades demonstrating the adage ...
1       A series of escapades demonstrating the adage ...
2       of escapades demonstrating the adage that what...
3       escapades demonstrating the adage that what is...
4       demonstrating the adage that what is good for ...
...                                                   ...
113564                          the sadness and obsession
113565                              sadness and obsession
113566        beneath Hearst 's forced avuncular chortles
113567                Hearst 's forced avuncular chortles
113568                          forced avuncular chortles

[113569 rows x 1 columns]

In [ ]:
df.iloc[2 ]

text    of escapades demonstrating the adage that what...
Name: 2, dtype: object

In [ ]:
113569/5

22713.8

In [ ]:
check=['cinema','feature','film','dull','boring' ,'bad' ,'not', 'good','nice','bore','excellent','experience','time']

### Normalization for the News( fake and real news) data set

In [ ]:
# same directory as of this python file
df1 = pd.read_csv('facts_intent.csv')
df1.drop(['Unnamed: 0','subject'], axis=1)
df1

,Unnamed: 0,text,subject,intent_ovr
0,0,"As U.S. budget fight looms, Republicans flip t...",politicsNews,facts
1,1,U.S. military to accept transgender recruits o...,politicsNews,facts
2,2,Senior U.S. Republican senator: 'Let Mr. Muell...,politicsNews,facts
3,3,FBI Russia probe helped by Australian diplomat...,politicsNews,facts
4,4,Trump wants Postal Service to charge 'much mor...,politicsNews,facts
...,...,...,...,...
21412,21412,'Fully committed' NATO backs new U.S. approach...,worldnews,facts
21413,21413,LexisNexis withdrew two products from Chinese ...,worldnews,facts
21414,21414,Minsk cultural hub becomes haven from authorities,worldnews,facts
21415,21415,Vatican upbeat on possibility of Pope Francis ...,worldnews,facts
21416,21416,Indonesia to buy $1.14 billion worth of Russia...,worldnews,facts

In [ ]:
df1=df1.drop(['Unnamed: 0','subject'], axis=1)
df1

                                                    text intent_ovr
0      As U.S. budget fight looms, Republicans flip t...      facts
1      U.S. military to accept transgender recruits o...      facts
2      Senior U.S. Republican senator: 'Let Mr. Muell...      facts
3      FBI Russia probe helped by Australian diplomat...      facts
4      Trump wants Postal Service to charge 'much mor...      facts
...                                                  ...        ...
21412  'Fully committed' NATO backs new U.S. approach...      facts
21413  LexisNexis withdrew two products from Chinese ...      facts
21414  Minsk cultural hub becomes haven from authorities      facts
21415  Vatican upbeat on possibility of Pope Francis ...      facts
21416  Indonesia to buy $1.14 billion worth of Russia...      facts

[21417 rows x 2 columns]

In [ ]:
df2=df1.sample(7452)
df2

                                                    text intent_ovr
10588  Trump's immigration outrage poses challenge fo...      facts
8151   Nearly half of Americans â€˜very concernedâ€™ abou...      facts
5369   U.S. infrastructure legislation back on Congre...      facts
3922   U.S. House clears way to debate Republican hea...      facts
515    Senate Republican signals possible committee '...      facts
...                                                  ...        ...
13376  Kremlin says understands why Russian parliamen...      facts
7113   Chile's foreign minister: TPP not dead, despit...      facts
21219  'Strong' Franco-British defense relationship w...      facts
20389  Norway's right-wing government projected to wi...      facts
3723   House panel seeks FBI, Department of Justice d...      facts

[7452 rows x 2 columns]

In [ ]:
# same directory as of this python file
df1 = pd.read_csv('facts2_intent.csv')
# df1.drop(['Unnamed: 0','subject'], axis=1)
df1

,Unnamed: 0,text,subject,intent_ovr
0,0,Donald Trump Sends Out Embarrassing New Yearâ€™...,News,facts
1,1,Drunk Bragging Trump Staffer Started Russian ...,News,facts
2,2,Sheriff David Clarke Becomes An Internet Joke...,News,facts
3,3,Trump Is So Obsessed He Even Has Obamaâ€™s Name...,News,facts
4,4,Pope Francis Just Called Out Donald Trump Dur...,News,facts
...,...,...,...,...
23476,23476,McPain: John McCain Furious That Iran Treated ...,Middle-east,facts
23477,23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,Middle-east,facts
23478,23478,Sunnistan: US and Allied â€˜Safe Zoneâ€™ Plan to T...,Middle-east,facts
23479,23479,How to Blow $700 Million: Al Jazeera America F...,Middle-east,facts
23480,23480,10 U.S. Navy Sailors Held by Iranian Military ...,Middle-east,facts

In [ ]:
df1=df1.drop(['Unnamed: 0','subject'], axis=1)
df1

                                                    text intent_ovr
0       Donald Trump Sends Out Embarrassing New Yearâ€™...      facts
1       Drunk Bragging Trump Staffer Started Russian ...      facts
2       Sheriff David Clarke Becomes An Internet Joke...      facts
3       Trump Is So Obsessed He Even Has Obamaâ€™s Name...      facts
4       Pope Francis Just Called Out Donald Trump Dur...      facts
...                                                  ...        ...
23476  McPain: John McCain Furious That Iran Treated ...      facts
23477  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...      facts
23478  Sunnistan: US and Allied â€˜Safe Zoneâ€™ Plan to T...      facts
23479  How to Blow $700 Million: Al Jazeera America F...      facts
23480  10 U.S. Navy Sailors Held by Iranian Military ...      facts

[23481 rows x 2 columns]

In [ ]:
df3=df1.sample(8122)
df3

                                                    text intent_ovr
21182  U.S. MOSQUE LINKED TO TERRORIST GROUP Received...      facts
5364    Ana Navarro Points Out Hispanic Outreach Diff...      facts
10943  BLACK HARVARD STUDENTS Host Separate Segregate...      facts
9476   CLASSLESS CLINTONS Spew Coordinated Lies Again...      facts
22910  Tulsi Gabbard Triggers The War Hawks With Her ...      facts
...                                                  ...        ...
4681    Uncovered Audio Shows LIVID Hillary Clinton A...      facts
13130  BREAKING: #CrookedHillary Told FBI She Only De...      facts
2981    Trump STRANDED, In Full Panic As ANOTHER Perf...      facts
19566  STUDENTS BRAVELY DEFY Catholic College VPâ€™s Wa...      facts
12483  BREAKING: CLINTON CLEAREDâ€¦Was This A Coordinat...      facts

[8122 rows x 2 columns]

In [ ]:
# same directory as of this python file
df1 = pd.read_csv('emotion_intent.csv')
df_emotions=df1.drop(['Unnamed: 0','emotion'], axis=1)
df_emotions

                                                    text intent_ovr
0                                i didnt feel humiliated    emotion
1      i can go from feeling so hopeless to so damned...    emotion
2       im grabbing a minute to post i feel greedy wrong    emotion
3      i am ever feeling nostalgic about the fireplac...    emotion
4                                   i am feeling grouchy    emotion
...                                                  ...        ...
15995  i just had a very brief time in the beanbag an...    emotion
15996  i am now turning and i feel pathetic that i am...    emotion
15997                     i feel strong and good overall    emotion
15998  i feel like this was such a rude comment and i...    emotion
15999  i know a lot but i feel so stupid because i ca...    emotion

[16000 rows x 2 columns]

In [ ]:
# same directory as of this python file
df1 = pd.read_csv('/content/convo_intent.csv')
convo=df1.drop(['Unnamed: 0','intent'], axis=1)
convo

                     text intent_ovr
0                     yes      convo
1                 oh yeah      convo
2                 alright      convo
3              absolutely      convo
4           oh absolutely      convo
...                   ...        ...
1314       are you asleep      convo
1315  have you turned off      convo
1316     have you stopped      convo
1317         did you stop      convo
1318         did you quit      convo

[1319 rows x 2 columns]

## Concatinating Different Data sets ino a single data frame to use in the visaulization notebook

In [ ]:
frames = [ df2,df3]
  
news = pd.concat(frames)
news.shape

(15574, 2)

In [ ]:
frames = [news,review,df_emotions,convo]
  
result = pd.concat(frames)
result.shape

(49893, 2)

In [ ]:
result.to_csv('data__norm_project.csv')